#foto{
  position: absolute;
  width: 196px;
  height: 306px;
  left: 30px;
  top: 6px;

  background: url(7ca3696b-495c-4754-9bed-48a3c47119c8.jpg);
  border-radius: 143.5px;
}
#Contato{
  position: absolute;
  width: 225px;
  height: 65px;
  left: 372px;
  top: 103px;

  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;

  color: #000000;
}
#Sobremim{
  position: absolute;
width: 268px;
height: 73px;
left: 881px;
top: 95px;

font-family: 'Kiwi Maru';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;

color: #000000;
}
#h1{
  /* Rectangle 2 */


  position: absolute;
  width: 1038px;
  height: 189px;
  left: 256px;
  top: 60px;

  background: rgba(32, 178, 170, 0.72);
  border-radius: 200px;
